.text {
  position: relative;
  padding: 10px 15px;
  font-size: 20px;
  border: 1px solid #f9fafa;
  background-color: #eeeeee;
  border-radius: 6px;
  opacity: 0.8;
  overflow: hidden;

  > span:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;

    > i {
      display: inline-block;
      height: 100%;
      margin: 0 15px;
    }
  }

  > div {
    padding: 0 3px;
  }

  .delete {
    position: absolute;
    right: 0;
    transform: translate(-50%, -100%);
    cursor: pointer;
    z-index: 3;

    &:active {
      transform: translate(-50%, -90%);
    }
  }

  .edit {
    position: absolute;
    right: 0;
    transform: translate(-165%, -100%);
    cursor: pointer;
    z-index: 3;

    &:active {
      transform: translate(-165%, -90%);
    }
  }
}

.form {
  font-size: 16px;
  margin: 10px;
}

.icon {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 10px 0 0;
  border-radius: 2px;
  border: 1px solid #c4c4c4;
  &:hover {
    border: 1px solid black;
    border-radius: 2px;
  }
  input:focus {
    border: 1px solid #eeeeee;
    border-radius: 2px;
  }
}

.iconList {
  position: absolute;
  z-index: 10;
  width: 270px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid black;
  transform: translate(0, 10px);

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  span {
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
  }
}

.triangle {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  transform: translate(30px, 1px);
  z-index: 11;
}

.triangle:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid white;
  transform: translate(-9px, 2px);
}
