@import './global.scss';

.tableHeader {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tableCell {
  padding: 0 !important;
  padding-left: 16px !important;
  font-size: 14px !important;
  height: 43px;
}

.noData {
  font-size: 14px;
  padding: 16px;
}


.disabled {
  pointer-events: none;
}

.disabledGroup {
  pointer-events: none;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loading {
  @include loadingTable;
}
